{% extends 'base.html' %}
 
        {% block main %}
                <div class="row">
                    <div class="col-md-9">
                    {% block center_block %}{% endblock %}
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            {% if request.user.is_authenticated %}
                            <h5>Welcome, <a href="{{ request.user.joatuuser_set.all.0.get_absolute_url }}">{% firstof request.user.get_full_name request.user.username %}</h5>
                            <a href="{% url 'profile_logout' %}">logout</a>
                            {% else %}
                            <form method="post" action="{% url 'profile_login' %}" role="form">
                                {% csrf_token %}
                                <div class="form-group"> 
                                    <input id="id_username" class="form-control" placeholder="username" type="text" name="username" maxlength="30" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="password" type="password" name="password" id="id_password" />
                                </div>
                                <input class="btn btn-xs btn-warning" type="submit" value="log in" />
                                <input type="hidden" name="next" value="" />
                            </form>
                            <h5><a class="btn btn-xs btn-warning" href="{% url 'profile_create' %}">Sign Up</a> </h5>
                            {% endif %}
                        </div>
                       {% load joatu_tags %}
                        {% feed_box News 3 %}
                        {% feed_box Development 3 %}
                    </div>        
                </div>
        {% endblock %}
